import(methods)

importMethodsFrom(Biostrings, reverseComplement, matchPattern,
	DNAString)

importMethodsFrom(GenomeInfoDb, seqlengths, "seqlengths<-",
	"seqlevels<-")

importFrom(RColorBrewer, brewer.pal)
importFrom(Rsamtools, scanBamFlag)
importMethodsFrom(Rsamtools, scanBam, ScanBamParam)

importFrom(VGAM, vsmooth.spline, zeta)

importFrom(data.table, data.table, setkey, setnames)

importFrom(qvalue, qvalue)

importFrom(sqldf, sqldf)

importFrom(stats, lm, pchisq, pnorm, smooth.spline)

importFrom(utils, write.table)

import(IRanges, GenomicRanges, rtracklayer)

exportClasses(
    "r3Cseq","r3CseqInBatch"
)

export(
    "getCoverage",
    "expCoverage",
    "contrCoverage",
    "getRawReads",
    "expRawData",
    "expRawData<-",
    "contrRawData",
    "contrRawData<-",
    "getBatchRawReads",
    "getReadCountPerRestrictionFragment",
    "getBatchReadCountPerRestrictionFragment",
    "getReadCountPerWindow",
    "getBatchReadCountPerWindow",
    "getViewpoint",
    "calculateRPM",
    "calculateBatchRPM",
    "expReadCount",
    "contrReadCount",
    "expRPM",
    "contrRPM",
    "getInteractions",
    "getBatchInteractions",
    "expInteractionRegions",
    "contrInteractionRegions",
    "plotOverviewInteractions",
    "plotInteractionsNearViewpoint",
    "plotInteractionsPerChromosome",
    "plotDomainogramNearViewpoint",
    "plot3Cecdf",
    "export3CseqRawReads2bedGraph",
    "export3Cseq2bedGraph",
    "exportInteractions2text",
    "exportBatchInteractions2text",
    "generate3CseqReport",
    "getExpInteractionsInRefseq",
    "getContrInteractionsInRefseq"
)
